:root {
    --button-default-padding: 5px;
    --button-default-bordersize: 2px;
    --button-default-borderradius: 10px;

    --button-transition-default-style: ease-out;
    --button-transition-default-time: .2s;
}

.button-link {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 8px solid transparent;
    transition: border-bottom var(--button-transition-default-time) var(--button-transition-default-style);
}

.button-link:hover {
    border-bottom: 2px solid var(--color-white);
}

.button {
    text-decoration: none;
}

.button-image-transparent {
    color: var(--color-white);
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.6; /* Hace el elemento y su imagen semi-transparentes */
    border: 2px solid transparent; /* Evita saltos de maquetación al aparecer el borde */
    transition: all 0.3s ease; /* Suaviza el cambio de tamaño, opacidad y borde */
    display: block; /* Asegura que la transformación funcione correctamente */
}

.button-image-transparent:hover {
    opacity: 1; /* Hace el elemento y su imagen completamente visibles al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del elemento */
    border: 2px solid var(--color-white); /* Añade un borde blanco al pasar el ratón */
}