:root {
    --button-default-padding: 5px;
    --button-default-bordersize: 2px;
    --button-default-borderradius: 10px;

    --button-transition-default-style: ease-out;
    --button-transition-default-time: .2s;
}

.button-link {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 8px solid transparent;
    transition: border-bottom var(--button-transition-default-time) var(--button-transition-default-style);
}

.button-link:hover {
    border-bottom: 2px solid var(--color-white);
}

.button {
    text-decoration: none;
}