:root{
    --default-frame-margin-bottom: 10px;
    --default-frame-padding: 20px;

    --frame-corner: 50px;
}

.frame { /* Prueba del tema blackblue */
    padding: var(--default-frame-padding);
    margin-bottom: var(--default-frame-margin-bottom);
}

.frame-corner {
    border-radius: var(--frame-corner);
}