:root {
    --button-default-padding: 5px;
    --button-default-bordersize: 2px;

    --button-transition-default-style: ease-out;
    --button-transition-default-time: .2s;
}

.button-link {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--color-white);
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 8px solid transparent;
    transition: border-bottom var(--button-transition-default-time) var(--button-transition-default-style);
}

.button-link:hover {
    border-bottom: 2px solid var(--color-white);
}

.button {
    text-decoration: none;
}

.button-panel {
    padding: var(--button-default-padding);
    border: var(--button-default-bordersize) solid var(--color-white);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    transition:
        border-color var(--button-transition-default-time) var(--button-transition-default-style),
        background-color var(--button-transition-default-time) var(--button-transition-default-style);
}

.button-panel:hover {
    border-color: transparent;
    background-color: var(--color-white);
    color: black;
}

.button-theme-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.button-theme-red {
    background-color: var(--color-red);
    color: var(--color-white);
}

.button-image-transparent {
    color: var(--color-white);
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.6;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: block;
}

.button-image-transparent:hover {
    opacity: 1;
    transform: scale(1.05);
    border: 2px solid var(--color-white);
}