:root {
    --nav-input-bordersize: 2px;
    --nav-input-padding: 5px;
    --nav-input-bordercolor: rgb(235, 235, 235);
    --nav-input-width: 50%;
    --nav-input-height: 100%;
    --nav-input-max-height: 100px;
    --nav-input-max-width: 400px;

    --nav-input-transition-bordercolor: rgb(65, 154, 255);
    --nav-input-transition-bordersize: 2px;
    --nav-input-transition-duration: .1s;
    --nav-input-transition-style: ease-out
}

.nav-input-container {
    background-color: transparent;
    border: 1px solid rgb(57, 57, 57);
    transition:
        border .2s ease-out;
}

.nav-input-container:hover {
    border: 1px solid rgb(83, 125, 231);
}

.nav-input-container > input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition:
        border-bottom .2s ease out;
}

.nav-input-container > input:focus {
    border-bottom: 1px solid white
}

.transparent-input {
    background-color: transparent;
}